/* GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* SPECIAL SELECTORS */

:root{

    /* colors */
    --color1:#add8e6;
    --color2:#daa520;
    --color3:#00008b;
    --color4:#ee82ee;
    --color5:#1e90ff;
    --color6:#ffc0cb;
    --color7:#d3d3d3;
    --color8:#228b22;
    --color9:#23272a;
    --color10:#f08080;
    --color11:#20b2aa;
    --color12:#ffb6c1;
    
    
    /* spacing */

}

nav>ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

nav li{
    display: inline;
}
/* UTILITIES */

.container{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

/* DEBUG */

.deb{
    border: 4px dotted black;
}
.deb1{
    border: 2px dotted rgb(255, 0, 0);
}

/* Specific */